@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Add transition */
}

.icon-visible {
    opacity: 1;
}